In [171]:
import pandas as pd
import numpy as np
from plotnine import *

# 파일 입력

In [172]:
train_act = pd.read_csv("sample1_train_activity.csv",header=0)

In [173]:
train_act.head()

,wk,acc_id,cnt_dt,play_time,npc_exp,npc_hongmun,quest_exp,quest_hongmun,item_hongmun,game_combat_time,...,cnt_clear_bam,normal_chat,whisper_chat,district_chat,party_chat,guild_chat,faction_chat,cnt_use_buffitem,gathering_cnt,making_cnt
0,1,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,5,-0.653171,-0.231874,-0.290803,-0.250423,-0.487666,-0.306354,-0.569842,...,-0.03313,-0.034038,-0.231827,-0.016574,-0.275174,-0.343293,-0.024028,-0.503692,-0.027758,-0.365536
1,2,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,1,-0.660461,-0.231874,-0.290803,-0.250423,-0.487666,-0.306354,-0.569842,...,-0.03313,-0.034038,-0.231827,-0.016574,-0.275174,-0.343293,-0.024028,-0.503692,-0.027758,-0.365536
2,3,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,6,-0.654467,-0.231874,-0.290803,-0.250423,-0.487666,-0.306354,-0.569842,...,-0.03313,-0.034038,-0.231827,-0.016574,-0.275174,-0.343293,-0.024028,-0.503692,-0.027758,-0.365536
3,4,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,7,-0.652113,-0.231874,-0.290803,-0.250423,-0.487666,-0.306354,-0.569842,...,-0.03313,-0.034038,-0.231827,-0.016574,-0.275174,-0.343293,-0.024028,-0.503692,-0.027758,-0.365536
4,5,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,7,-0.651945,-0.231874,-0.290803,-0.250423,-0.487666,-0.306354,-0.569842,...,-0.03313,-0.034038,-0.231827,-0.016574,-0.275174,-0.343293,-0.024028,-0.503692,-0.027758,-0.365536

In [174]:
train_pay = pd.read_csv("sample1_train_payment.csv",header=0)

In [175]:
train_pay.head()

,payment_week,acc_id,payment_amount
0,1,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,-0.149898
1,2,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,-0.149898
2,3,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,-0.149898
3,4,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,-0.149898
4,5,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,-0.149898

In [176]:
train = pd.read_csv("sample1_train_label.csv",header=0)

In [177]:
train.head()

                                              acc_id     label
0  7e76cf769e7f8b635f265931ae609bc4e95bf654c3f4e8...      week
1  df3171d720acc39427e4cc3c0baa1fdbe894138c3e3471...  retained
2  c4b3035dabcfa3cdfce268a88f97c7ebac50cc1235f155...     month
3  41eb6789742f1d69cf1e881eb53024602ba1d84584e231...      week
4  4b69195985218d7fc9d0a726438b0ef3ecbcd8eba0f64b...      week

In [178]:
# dataframe에 column 추가하기
train['payment_amount'] = train_pay['payment_amount']

In [179]:
train.head()

                                              acc_id     label  payment_amount
0  7e76cf769e7f8b635f265931ae609bc4e95bf654c3f4e8...      week       -0.149898
1  df3171d720acc39427e4cc3c0baa1fdbe894138c3e3471...  retained       -0.149898
2  c4b3035dabcfa3cdfce268a88f97c7ebac50cc1235f155...     month       -0.149898
3  41eb6789742f1d69cf1e881eb53024602ba1d84584e231...      week       -0.149898
4  4b69195985218d7fc9d0a726438b0ef3ecbcd8eba0f64b...      week       -0.149898

In [181]:
# 필요없는 column 삭제하기
try:
    train = train.drop(columns='payment')
except KeyError:
    pass

In [182]:
train.head()

                                              acc_id     label  payment_amount
0  7e76cf769e7f8b635f265931ae609bc4e95bf654c3f4e8...      week       -0.149898
1  df3171d720acc39427e4cc3c0baa1fdbe894138c3e3471...  retained       -0.149898
2  c4b3035dabcfa3cdfce268a88f97c7ebac50cc1235f155...     month       -0.149898
3  41eb6789742f1d69cf1e881eb53024602ba1d84584e231...      week       -0.149898
4  4b69195985218d7fc9d0a726438b0ef3ecbcd8eba0f64b...      week       -0.149898

===================================================================================================

# EDA

In [183]:
train_act.columns

Index(['wk', 'acc_id', 'cnt_dt', 'play_time', 'npc_exp', 'npc_hongmun',
       'quest_exp', 'quest_hongmun', 'item_hongmun', 'game_combat_time',
       'get_money', 'duel_cnt', 'duel_win', 'partybattle_cnt',
       'partybattle_win', 'cnt_enter_inzone_solo', 'cnt_enter_inzone_light',
       'cnt_enter_inzone_skilled', 'cnt_enter_inzone_normal', 'cnt_enter_raid',
       'cnt_enter_raid_light', 'cnt_enter_bam', 'cnt_clear_inzone_solo',
       'cnt_clear_inzone_light', 'cnt_clear_inzone_skilled',
       'cnt_clear_inzone_normal', 'cnt_clear_raid', 'cnt_clear_raid_light',
       'cnt_clear_bam', 'normal_chat', 'whisper_chat', 'district_chat',
       'party_chat', 'guild_chat', 'faction_chat', 'cnt_use_buffitem',
       'gathering_cnt', 'making_cnt'],
      dtype='object')

In [184]:
train_act['play_time'].value_counts().sort_index()

-0.661479    13
-0.661470     4
-0.661410     1
-0.661390     1
-0.661381     3
-0.661371     5
-0.661311     1
-0.661301     1
-0.661292     1
-0.661282     1
-0.661212     1
-0.661193     2
-0.661183     1
-0.661173     1
-0.661163     1
-0.661133     2
-0.661104     1
-0.661074     1
-0.661064     1
-0.661024     1
-0.660985     1
-0.660975     1
-0.660965     1
-0.660955     2
-0.660945     1
-0.660935     3
-0.660926     3
-0.660906     1
-0.660896     1
-0.660886     1
             ..
 4.185969     1
 4.197788     1
 4.218163     1
 4.222851     1
 4.235283     1
 4.245688     1
 4.276359     1
 4.279643     1
 4.314854     1
 4.317762     1
 4.324576     1
 4.371062     1
 4.376918     1
 4.404918     1
 4.422078     1
 4.458812     1
 4.485082     1
 4.504537     1
 4.521796     1
 4.624392     1
 4.647397     1
 4.650078     1
 4.711380     1
 4.717344     1
 4.733772     1
 4.752851     1
 4.805687     1
 5.006438     1
 5.064348     1
 5.069075     1
Name: play_time, Length: 3426, dtype: int64

In [185]:
train_act['cnt_enter_bam'].value_counts().sort_index()

-0.047643     4198
 5.512386       24
 11.072416       9
 16.632445       4
 22.192475       1
 33.312534       1
Name: cnt_enter_bam, dtype: int64

In [186]:
train_act['duel_cnt'].value_counts().sort_index()

-0.036168     3978
-0.014453       31
 0.007263       31
 0.028978       17
 0.050694       17
 0.072409       15
 0.094125       11
 0.115840        8
 0.137556        4
 0.159272        3
 0.180987        2
 0.202703        1
 0.224418        7
 0.246134        4
 0.267849        5
 0.289565        3
 0.311280        1
 0.332996        2
 0.354711        2
 0.376427        5
 0.419858        3
 0.441573        2
 0.463289        3
 0.485004        2
 0.506720        3
 0.528435        4
 0.550151        5
 0.593582        2
 0.637013        1
 0.658728        1
              ...
 1.961659        2
 2.026805        1
 2.048521        1
 2.178814        1
 2.330822        1
 2.395969        1
 2.482831        2
 2.526262        1
 2.634839        1
 2.786848        1
 2.808563        1
 3.090865        1
 3.112580        1
 3.416597        1
 3.503459        1
 3.633752        1
 3.850908        1
 3.937770        1
 4.002916        2
 4.133209        1
 4.849821        1
 4.936683        1
 5.197269        1
 5.588148        1
 5.696726        1
 5.783588        1
 6.999656        1
 7.368820        1
 7.564259        1
 16.380755       1
Name: duel_cnt, Length: 83, dtype: int64

In [187]:
train_act['party_chat'].value_counts().sort_index()

-0.275174     2394
-0.270853      104
-0.266533       82
-0.262212       76
-0.257891       77
-0.253571       61
-0.249250       47
-0.244929       44
-0.240609       34
-0.236288       36
-0.231968       33
-0.227647       25
-0.223326       24
-0.219006       25
-0.214685       25
-0.210364       26
-0.206044       16
-0.201723       17
-0.197402       24
-0.193082       14
-0.188761       13
-0.184441       16
-0.180120        9
-0.175799       13
-0.171479       17
-0.167158       11
-0.162837        6
-0.158517       12
-0.154196       18
-0.149876        7
              ...
 5.471262        1
 5.497186        1
 5.553354        1
 5.743462        1
 5.765065        1
 5.769386        1
 5.808272        1
 6.127998        1
 6.227373        1
 6.339709        1
 6.637832        2
 6.672397        1
 6.771772        1
 6.784734        1
 6.836581        1
 6.940276        1
 7.000765        1
 7.078536        1
 7.134705        1
 7.216797        2
 7.298888        1
 7.346415        1
 7.419866        1
 8.007472        1
 8.439534        1
 8.452496        1
 8.811109        1
 9.675234        1
 10.146183       1
 11.282508       1
Name: party_chat, Length: 515, dtype: int64

In [188]:
id = train_act[train_act['party_chat']>11]['acc_id']
id

2150    07d9752780687a84d2e3a3b1692f4606cb03eaaa5ea249...
Name: acc_id, dtype: object

In [193]:
train[train['acc_id'].isin(id)]

Empty DataFrame
Columns: [acc_id, label, payment_amount]
Index: []

In [156]:
train_pay.columns

Index(['payment_week', 'acc_id', 'payment_amount'], dtype='object')

In [ ]:
train_pay['payment_amount'].value_counts().sort_index()

# 전처리

## Binning

## One-hot-encoding

================================================================================================

# 알고리즘 학습

## 학습 세트, 테스트 세트 나누기

In [89]:
df = train.reindex()

In [90]:
split_count = int(df.shape[0] * 0.7)
split_count

700

In [98]:
train = df[:split_count].copy()
test = df[split_count:].copy()
train.shape
test.shape

(300, 3)

## Random forest 예측

In [129]:
from sklearn.ensemble import RandomForestClassifier

# 랜덤포레스트 분류기를 사용
forest = RandomForestClassifier(
    n_estimators = 500, n_jobs = -1, random_state=2018)
forest

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=-1,
            oob_score=False, random_state=2018, verbose=0,
            warm_start=False)

In [130]:
train_features = train.drop(columns=['label','acc_id'])
test_features = test.drop(columns=['label','acc_id'])

In [131]:
# 학습에 사용할 y_label 을 넣어줍니다.
# 어떤 분야의 청원인지 예측할 것이기 때문에 label을 넣어줍니다.
y_label = train['label']
%time forest = forest.fit(train_features, y_label)

Wall time: 1.02 s

In [132]:
# 테스트 데이터를 넣고 예측합니다.
y_pred = forest.predict(test_features)
y_pred[:3]

array(['month', 'month', 'month'], dtype=object)

In [133]:
y_pred.shape

(300,)

In [138]:
# 예측 결과를 저장하기 위해 데이터프레임에 담아 줍니다.
output = pd.DataFrame(data={'acc_id':test['acc_id'],'label':y_pred})
output['label'].value_counts()

month       291
week          4
retained      3
2month        2
Name: label, dtype: int64

In [139]:
output.head()

                                                acc_id  label
700  1f02f7ea61ae4b89f6aed7a37ff8fe3f766dada1aeb757...  month
701  4db9d41b74b9d66ee92635bc364094b22663555bf8d585...  month
702  659b812ea29120e046baeda06a5792c1781775e1da47d0...  month
703  ecb6ce93cad66d0d617838020eef3de47501deb2372e83...  month
704  3a231d8d9318a61a7083dee06ec33e80f88608f3b43d41...  month

==================================================================================

# 평가 함수 만들기

# 파일 출력

In [147]:
output.to_csv('C://Users/USER/dataitgirls/BIGcontest/result.csv',index=False)