In [2]:
import pandas as pd
import numpy as np
from plotnine import *

# 파일 입력

In [5]:
train_act = pd.read_csv("sample1_train_activity.csv",header=None)

In [6]:
train_act.head()

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,1,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,5,-0.653171,-0.231874,-0.290803,-0.250423,-0.487666,-0.306354,-0.569842,...,-0.03313,-0.034038,-0.231827,-0.016574,-0.275174,-0.343293,-0.024028,-0.503692,-0.027758,-0.365536
1,2,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,1,-0.660461,-0.231874,-0.290803,-0.250423,-0.487666,-0.306354,-0.569842,...,-0.03313,-0.034038,-0.231827,-0.016574,-0.275174,-0.343293,-0.024028,-0.503692,-0.027758,-0.365536
2,3,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,6,-0.654467,-0.231874,-0.290803,-0.250423,-0.487666,-0.306354,-0.569842,...,-0.03313,-0.034038,-0.231827,-0.016574,-0.275174,-0.343293,-0.024028,-0.503692,-0.027758,-0.365536
3,4,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,7,-0.652113,-0.231874,-0.290803,-0.250423,-0.487666,-0.306354,-0.569842,...,-0.03313,-0.034038,-0.231827,-0.016574,-0.275174,-0.343293,-0.024028,-0.503692,-0.027758,-0.365536
4,5,7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76...,7,-0.651945,-0.231874,-0.290803,-0.250423,-0.487666,-0.306354,-0.569842,...,-0.03313,-0.034038,-0.231827,-0.016574,-0.275174,-0.343293,-0.024028,-0.503692,-0.027758,-0.365536

In [7]:
train_pay = pd.read_csv("sample1_train_payment.csv",header=None)

In [13]:
train_pay.columns = ['week','id','payment']

In [14]:
train_pay.head()

   week                                                 id   payment
0     1  7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76... -0.149898
1     2  7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76... -0.149898
2     3  7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76... -0.149898
3     4  7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76... -0.149898
4     5  7ab9927559d86f8f5f015a8bfe7ffeaa8f4685bff86a76... -0.149898

In [10]:
train = pd.read_csv("sample1_train_label.csv",header=None)

In [11]:
train.head()

         0                                                  1         2
0      NaN                                             acc_id     label
1  23461.0  7e76cf769e7f8b635f265931ae609bc4e95bf654c3f4e8...      week
2  89624.0  df3171d720acc39427e4cc3c0baa1fdbe894138c3e3471...  retained
3  33676.0  c4b3035dabcfa3cdfce268a88f97c7ebac50cc1235f155...     month
4   1271.0  41eb6789742f1d69cf1e881eb53024602ba1d84584e231...      week

In [15]:
train['payment'] = train_pay['payment']

In [16]:
train.head()

,0,1,2,payment
0,NaN,acc_id,label,-0.149898
1,23461.0,7e76cf769e7f8b635f265931ae609bc4e95bf654c3f4e8...,week,-0.149898
2,89624.0,df3171d720acc39427e4cc3c0baa1fdbe894138c3e3471...,retained,-0.149898
3,33676.0,c4b3035dabcfa3cdfce268a88f97c7ebac50cc1235f155...,month,-0.149898
4,1271.0,41eb6789742f1d69cf1e881eb53024602ba1d84584e231...,week,-0.149898

===================================================================================================

# 전처리

## Binning

## One-hot-encoding

================================================================================================

# 알고리즘 학습

## 학습 세트, 테스트 세트 나누기

In [17]:
df = train.reindex()

In [18]:
split_count = int(df.shape[0] * 0.7)
split_count

700

In [19]:
train = df[:split_count].copy()
train.shape

(700, 4)

## Random forest 예측

In [20]:
from sklearn.ensemble import RandomForestClassifier

# 랜덤포레스트 분류기를 사용
forest = RandomForestClassifier(
    n_estimators = 100, n_jobs = -1, random_state=2018)
forest

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=2018, verbose=0,
            warm_start=False)

In [ ]:
train_feature_tfidf =

In [ ]:
# 학습에 사용할 y_label 을 넣어줍니다.
# 어떤 분야의 청원인지 예측할 것이기 때문에 category를 넣어줍니다.
y_label = train['label']
%time forest = forest.fit(train_feature_tfidf, y_label)

## Random forest 평가

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=5, shuffle=True, random_state=0)

scoring = 'accuracy'
%time score = cross_val_score(forest, train_feature_vector, y_label, cv=k_fold, n_jobs=-1, scoring=scoring)
score

In [ ]:
round(np.mean(score)*100,2)

==================================================================================

# 파일 출력

In [ ]:
import csv
row_num = df2.shape[0]
f = open('C://dataitgirls/final_data_rev/train/sample1_train_trade.csv','w',newline='')
def make_result(data):
    
    csvWriter = csv.writer(f)
    csvWriter.writerow(data)

f.close()